.free {
	margin-top: 160px;
	@include media-mx(991) {
		margin-top: 60px;
	}
	&__container {
		padding: 0 126px;

		@include media-mx(991) {
			padding: 0 16px;
		}
	}
	.row {
		border-radius: 32px;
		padding: 32px;

		box-shadow:
			0 0 1px 0 rgba(19, 23, 35, 0.04),
			0 0 2px 0 rgba(19, 23, 35, 0.06),
			0 3px 6px 0 rgba(19, 23, 35, 0.04);
		background-color: var(--grayscale-01);

		@include media-mx(991) {
			padding: 16px;
			border-radius: 16px;
		}
	}
	.item {
		h2,
		h3 {
			font-weight: 700;
			font-size: 36px;

			margin-bottom: 16px;

			color: var(--white);
			@include media-mn(1900) {
				font-size: 40px;
			}
			@include media-mx(991) {
				font-size: 18px;
				line-height: 140%;

				margin-bottom: 12px;
			}
		}
		h3 {
			margin-bottom: 32px;

			@include media-mx(991) {
				margin-bottom: 12px;
			}
			span {
				width: fit-content;

				border-radius: 16px;
				padding: 8px 24px;

				color: var(--grayscale-01);
				background-color: #ff0;

				@include media-mx(991) {
					padding: 0;

					color: #ff0;
					background-color: initial;
				}
			}
		}
		p {
			font-weight: 500;
			font-size: 16px;

			margin-bottom: 60px;

			color: var(--white);
			@include media-mn(1900) {
				font-size: 20px;
			}
			@include media-mx(991) {
				font-size: 16px;
				line-height: 140%;

				margin-bottom: 32px;
			}
		}
		.btn {
			width: fit-content;

			font-weight: 500;
			font-size: 20px;

			border-radius: 40px;
			padding: 24px 40px;

			color: var(--white);
			background-color: var(--primary-01);

			@include media-mx(991) {
				font-size: 16px;
				line-height: 140%;

				padding: 16px 24px;
			}
			@include media-mx(575) {
				width: 100%;
			}

			img {
				width: 24px;
				height: 24px;

				@include media-mx(991) {
					width: 16px;
					height: 16px;
				}
			}
		}
	}
	.img-box {
		width: 100%;
		height: 100%;

		background: url(../../images/raketa.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		@include media-mx(991) {
			width: 192px;
			height: 144px;

			margin-top: 26px;
			margin-bottom: -16px;
		}
	}
}
