@font-face {
	font-family: InterTight;
	font-display: swap;
	src: url("../fonts/InterTight-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: InterTight;
	font-display: swap;
	src: url("../fonts/InterTight-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: InterTight;
	font-display: swap;
	src: url("../fonts/InterTight-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: VelaSans;
	font-display: swap;
	src: url("../fonts/VelaSans-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: VelaSans;
	font-display: swap;
	src: url("../fonts/VelaSans-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

